{{! Import defaut template and home header}}
{{!< default}}{{> header}}


<a name="start"></a>
<div id="content_column_Optimium" class="home-listing boxed-cargo Optimium_home">
<center>
				
	{{#get "posts" filter="featured:true" limit="3" as |featured|}}
    {{#foreach featured}}
    {{>listing}}
    {{/foreach}}
{{else}}
{{/get}}
			
		
	{{! Cycle through and list non-featured posts }}
	{{! Only display if not blocked by exclusion tags }}
	{{#foreach posts}}{{^has tag="hidden, no-home, tag-only, author-only, no-index, private"}}
				
	{{>listing}}
			
	{{/has}}{{/foreach}} {{! For validation}}
			
</div>
{{pagination}}