{{!< default}}{{> header_page}}
		<div id="content_column_Optimium" class="boxed-cargo Optimium_index">
			<center>

					
	{{! Cycle through and list non-featured posts }}
	{{! Only display if not blocked by exclusion tags }}
	{{#foreach posts}}{{^has tag="hidden, home-only, tag-only, author-only, no-index, private"}}
				
		
		{{>listing}}
			
			{{/has}}{{/foreach}} {{! For validation}}
			 </div>
	
	{{pagination}}