{{!< default}}{{> header_page}}
		<center>
		<div id="content_column_Optimium" class="boxed-cargo Optimium_tag">
			
			{{! Featured posts come first }}
	{{! Cycle through and list featured posts }}
	{{! Only display if not blocked by exclusion tags }}
	{{#foreach posts}}{{^has tag="no-tag, tag-only, author-only, index-only, home-only, private"}}
				
		{{>listing}}
			
			{{/has}}{{/foreach}} {{! For validation}}
			
				
			 </div>{{pagination}}