{{!< default}}{{> header_page}}
		<center>
		<div id="content_column_Optimium" class="boxed-cargo">
			
			{{! Featured posts come first }}
	{{! Cycle through and list featured posts }}
	{{! Only display if not blocked by exclusion tags }}
	{{#foreach posts}}{{#if featured}}{{^has tag="no-tag, tag-only, author-only, index-only, home-only, private"}}
				
		{{>listing}}
			
			{{/has}}{{/if}}{{/foreach}} {{! For validation}}
			
			
			{{! ============================================================================================ }}
			{{! ============================================================================================ }}
			{{! ============================================================================================ }}
			{{! ============================================================================================ }}
			{{! ============================================================================================ }}
			{{! ============================================================================================ }}
			
	{{! Cycle through and list non-featured posts }}
	{{! Only display if not blocked by exclusion tags }}
	{{#foreach posts}}{{^if featured}}{{^has tag="hidden, no-tag, tag-only, author-only, index-only, home-only, private"}}
				
		
		{{>listing}}
			
			{{/has}}{{/if}}{{/foreach}} {{! For validation}}
			
			 </div>{{pagination}}